
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.container{
  width:100%;
  margin: auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.boxes{
  border: 7px solid black;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px silver;
  transition: 300ms all;
  background-size: cover;
  background-position: center;
}

.box-content{
  background-color: white;
  padding: 10px 5px;
  text-align: center;
  width: 100%;
  transition: 300ms all;
}

.boxes:hover {
  transform: scale(1.1);
}

.boxes:hover .box-content{
  background-color: transparent;
  color: black;
}
